.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    border: 2px solid white;
    background-color: #f1dbe0;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.paragraph{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 15px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 5px;
}
#section{
    margin-top: 100px;
}
.section-title{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    
}
#featured-flower-description{
    text-align: center;
}
.flower-tree{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center ;
    
}
.flower-img{
    /* height: 250px; */
}
#pink{
    background-color: #f3b8c6;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 10px;
}
.flower-name{
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#red{
    background-color: #b7cecf;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 10px;

}
#yellow{
    background-color: #d9f3c1;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.middle-img{
    margin: 100px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9f3c1 ;
    padding: 80px 0px 80px 0px;
    width: 70%;
}
.grp-asset{
    margin-right: 20px;
}
.section-hot-deal{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    border: 2px solid white;
    background-color: #f1dbe0;
    text-align: center;
    padding: 60px 0px 60px 0px;
}
.hot-deal{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.hot-deal-img{
    margin-top: 10px;
}
.flowers{
    display: flex;
    height: 300px;
    justify-content: center;
}
.flower-asset-01{
    margin-right: 15px;
}
.shop{
    color:#E55473 ;
}
#background-img{
    background-image: url("/Flower-Asset/Rectangle\ 9.png");
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}
.latest-title{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;  
}
.email{
    justify-content: center;
}
#shopflower{
    align-items: center;
}
#footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 150px;
    color: white;
    background-color: black;
    padding: 100px 0px 100px 0px;

}
.ending{
    font-size: smaller;
    text-align: center;
}
